<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660192229310-94dspjd8hvm499o26nhkpbnftlobuir7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660192229310-94dspjd8hvm499o26nhkpbnftlobuir7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>660192229310-55kb615p749unmkrc0u7hq1ft02e0bot.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVBaSbkLk2v__vzWHEAGSTCjEyDEWJK48</string>
	<key>GCM_SENDER_ID</key>
	<string>660192229310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnGetxFirebase</string>
	<key>PROJECT_ID</key>
	<string>learn-gets-fir</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-gets-fir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660192229310:ios:f61eff87e546fac7296bef</string>
</dict>
</plist>